    <div class="intro_box">
      <div class = "image_zone">
        <div class = "image_box">
          <img src="{{ asset('images/image.png') }}" alt="inu" class="my_image">
        </div>
        <div class = "name_box">
          長谷川 海斗
        </div>
      </div>
      <div class="text_box_1">
      <h3>■自己紹介</h3>
        <div class = "introduction_text">
          未経験でエンジニアになるべく、勉強を始めました。学習中の言語は、ruby, rails, PHP, larval, pythonです。<br>
          『太く短く美しく』というテーマのもと生きております。<br>
          プログラム以外にも機械学習にも興味があり、勝てるトレードツールの開発も行っております。<br>
          よろしくお願いいたします。
        </div>
      </div>
      <div class="text_box_1">
      <h3>■学習中の言語,フレームワーク</h3>
        <div class = "introduction_text">
          ・Ruby<br>
          ・Rails<br>
          ・Python<br>
          ・PHP<br>
          ・Laravel<br>
          ・JavaScript<br>
          ・HTML(haml)<br>
          ・CSS(scss)<br>
        </div>
      </div>
    </div>