@media screen and (min-width:1280px) {
  header{
    position: relative;
    z-index: 100;
  }
  .content_box2{
    display: none;
  }
  
  .image_zone{
    margin: 0 200px;
  }
  .image_box{
    padding-left: 180px;
    padding-top: 240px;
    width: 500px;
    // position: fixed;
  }
  .my_image{
    position: fixed;
    height: 200px;
    border-radius: 170px;
    width: 200px;
    border: solid 3px rgb(173, 12, 71);
    top: 100px;
  }
  .name_box{
    float: left;
    position: relative;
    bottom: 100px;
    left: 500px;
    font-size: 40px;
  }

  .text_box_1{
    padding-top: 20px;
    padding-left: 650px;
    padding-right: 150px;
  }

  .introduction_text{
    width: 60%;
    padding-left:30px;
  }

  .content_box{
    display: none;
  }
}

@media screen and (max-width:1279px) {
  header{
    display: none;
  }
  .intro_box{
    width: 100%;
    padding-bottom: 190px;
  }
  .image_zone{
    margin-bottom: 160px;
  }
  .image_box{
    padding-left: 5%;
    width: 500px;
    // position: fixed;
  }
  .my_image{
    position: absolute;
    height: 130px;
    border-radius: 170px;
    width: 130px;
    border: solid 3px rgb(173, 12, 71);
    top: 40px;
  }
  .name_box{
    position: relative;
    left: 175px;
    top: 80px;
    font-size: 30px;
    width: 44%;

  }

  .text_box_1{
    width: 100%;
    margin-top: 70px;
  }

  .introduction_text{
    width: 85%;
    padding-left: 30px;
  }

  .content_box{
    position: fixed;
    background-color: white;
    bottom: 0px;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    background: #CCCCCC
  }

  .list_text{
    font-size: 1.3rem!important;
    padding-left: 20px;
  }


}