@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

.box{
  height: 100vh;
  width: 100%;
}
.title_box{
  background: white;
  font-size: 17px;
  height: 70%;
}
.main_title{
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 70px;
}




.content_box{
  height: 30%;
  background: white;
}
.content_box_mini_1{
  height:100%;
  width: 33.3%;
  float: left;
  border-radius: 70px;
}
.content_box_mini_1:hover{
  background-color: rgb(173, 12, 71);
  color: white;
  box-shadow: 20px 20px;
}
.content_box_mini_2{
  height:100%;
  width: 33.3%;
  float: left;
  border-radius: 70px;
}
.content_box_mini_2:hover{
  background-color: rgb(173, 12, 71);
  color: white;
}
.content_box_mini_3{
  height:100%;
  width: 33.3%;
  float: left;
  border-radius: 70px;
}
.content_box_mini_3:hover{
  background-color: rgb(173, 12, 71);
  color: white;
}
.content_box_text{
  margin: 100px auto;
  text-align: center;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 25px;
}
