.box{
  height: 100vh;
  width: 100%;
}
.title_box{
  background: white;
  font-size: 17px;
  height: 70%;
}
.main_title{
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
}




.content_box{
  height: 30%;
  background: white;
}
.content_box_mini{
  height:100%;
  width: 33.3%;
  float: left;
}
.content_box_text{
  margin: 100px auto;
  text-align: center;
}