@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

.production_box{
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  padding-top: 200px;
}

.title_production{
  font-size: 80px;
  height: 270px;
  
}


.content_box{
  text-align: center;

}


.app_box{
  float: left;
  font-size: 40px;
  margin-left: 300px;
}

.app_box_text{
  height: 170px;
  width: 320px;
  padding-top: 47px;
  background-image: url('/images/app.png');
  border-radius: 30px;
  font-family: 'Ubuntu Mono', monospace;
}


.youtube_box{
  float: right;
  font-size: 40px;
  margin-right: 300px;
}

.youtube_box_text{
  height: 170px;
  width: 320px;
  padding-top: 47px;
  background-color: palevioletred;
  border-radius: 30px;
  font-family: 'Ubuntu Mono', monospace;
}

.app_production_list{
  float: left;
  height: 100vh;
  padding: 10px 430px 0 430px;
  width: 100%;
  font-family: 'Ubuntu Mono', monospace;
}

.app_production_list_title{
  font-size: 30px;
}

.app_productions{
  height: 500px;
}

.app_production{
  margin-top: 13px;
  width: 100%;
  background-color: peachpuff;
  border-radius: 20px;
}
.app_title{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
}
.app_text{
  width:100%;
  font-size: 15px;
  padding-bottom:20px;
}
